<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
</head>
<body>
    <span><a href="/home"><-- Back to Home</a></span>
    <table>
        <thead>
            <tr>
                <th>Course Id</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${courses}">
                <td th:href="@{/findCourseById(courseId = ${c.id}}" th:text="${c.id}">2000</td>
                <td th:text="${c.title}">Java</td>
                <td th:text="${c.description}">Corso bello</td>
            </tr>
        </tbody>
    </table>
</body>
</html>