<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Teacher</title>
</head>
<body>
    <span><a href="/home"><-- Back to Home</a></span>
    <h1>Find Teacher</h1>
    <form action="findTeacherBySkillLevel" method="get">
        <label for="idSkill">Skill Id</label>
        <input name="idSkill" id="idSkill"><br>
        <label>Level</label>
        <select>
            <option th:each="l : ${levels}" th:value="${l}" th:text="${l}" />
        </select><br>
        <button>Find by Skill Level</button>
    </form>
</body>
</html>